@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css");

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
}

header {
  background-image: url("./car-bg.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1000px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  font-size: 2rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
